<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우리의 식탁</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="p-5 mb-5 text-center</> bg-light d-flex justify-content-center">
        <h1 class="mb-3" style="color: rgb(147, 112, 98);">우리의 식탁</h1>
        <button type="button" id="create-btn" class="btn btn-secondary btn-sm mb-3"
                th:onclick="|location.href='@{/new-recipe}'|">
            레시피 등록
        </button>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col p-2 m-2 flex-grow-0" th:each="recipe : ${recipes}">
                <a href="@{recipes/view(no=${recipe.foodId})}" style="text-align: center;">
                    <img th:src="@{|/foodImage/${recipe.image}|}" style="width: 250px; height: 250px;"/>
                    <div style="width: 250px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color: rgb(97, 97, 97);" th:text="${recipe.title}"></div>
                    <div class="fw-bold" style="color: black;" th:text="${recipe.foodNm}"></div>
                </a>
                <div style="text-align: center;">
                    <span style="color: rgb(158, 158, 158);" th:if="${recipe.foodLevel == 1}" th:text="|난이도 ⭐ / ⏰ ${recipe.cookingtime}분|"></span>
                    <span style="color: rgb(158, 158, 158);" th:if="${recipe.foodLevel == 2}" th:text="|난이도 ⭐⭐ / ⏰ ${recipe.cookingtime}분|"></span>
                    <span style="color: rgb(158, 158, 158);" th:if="${recipe.foodLevel == 3}" th:text="|난이도 ⭐⭐⭐ / ⏰ ${recipe.cookingtime}분|"></span>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>
</html>
