<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우리의 식탁</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="p-5 mb-5 text-center</> bg-light d-flex justify-content-center">
        <h1 class="mb-3">우리의 식탁</h1>
        <h4 class="mb-3">레시피</h4>
        <button type="button" id="create-btn" class="btn btn-secondary btn-sm mb-3"
                th:onclick="|location.href='@{/new-recipe}'|">
            레시피 등록
        </button>
    </div>
    <div class="container">
        <div class="row-6" th:each="recipe : ${recipes}">
            <div class="recipe">
                <div>
                    <!-- <img th:src="/image/${recipe.image}" th:href="@{/recipes/{id}(id=${recipe.foodId})}" class=""> -->
                </div>
                <div class="recipe-header" th:text="${recipe.foodId}">
                </div>
                <div class="recipe-body">
                    <h5 class="recipe-title" th:text="${recipe.title}"></h5>
                    <!-- <p class="recipe-text" th:text="${recipe.content}"></p> -->
                </div>
            </div>
            <br>
        </div>
    </div>
</body>
</html>
